@model bie.evgestao.ui.viewmodels.PessoaViewmodel
@using bie.evgestao.domain.Enums
@using bie.evgestao.ui.mvc.Helpers
@using bie.evgestao.ui.viewmodels;

@{
    ViewBag.Title = "Gerenciar Familiares";
    ViewBag.HeaderText = ViewBag.Title;

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-title">
    <h2>Gerenciar familiares</h2>
    <p>
        Membro: @Model.Nome
    </p>
</div>





@using (Html.BeginForm("adicionarFamiliar", "pessoas", FormMethod.Post, new { @id = "frmMain", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.id_pessoa)



    <div class="panel panel-default">


        <div class="form-horizontal frmlimitado" style="">

            <div class="panel-heading">
                <h3>Adicionar Familiar</h3>
            </div>

            <div class="panel-body">

                <div class="form-group">

                    <label class="control-label col-md-1" for="Nome">Nome</label>
                    <div class="col-md-4">
                        <input type="text" id="Nome" class="form-control" name="Nome" />

                        <span style="display:none;" id="txtErroNome" class="text-danger field-validation-error" data-valmsg-for="Nome" data-valmsg-replace="true"><span id="Nome-error" class="">Informe o Nome Completo</span></span>


                    </div>

                    <label class="control-label col-md-1" for="Parentesco">Parentesco</label>
                    <div class="col-md-4">
                        @Html.DropDownList("Parentesco", (IEnumerable<SelectListItem>)ViewBag.Parentescos, new { @class = "form-control" })
                    </div>


                    <div class="col-md-2">
                        <button id="btnAdicionar" type="submit" class="btn btn-space btn-primary">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<div class="row">

    <div class="col-md-12">

        <table class="table " id="tblMain">
            <thead>
                <tr>

                    <th>Nome</th>
                    <th>Grau de parentesco</th>
                    <!-- botões -->
                    <th style="width:180px; text-align:center;" class="text-center"></th>
                </tr>
            </thead>

        </table>

        <a href='@Url.Action("Index")' class="btn btn-space btn-default">voltar para lista<div class="ripple-wrapper"></div></a>

    </div>

</div>







<!-- Modal -->
<div class="modal fade" id="mdConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="mdConfirmDeleteLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mdConfirmDeleteLabel">Confirma exclusão</h4>
            </div>
            <div class="modal-body">
                Deseja mesmo remover este familiar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnExcluir">Excluir</button>
            </div>
        </div>
    </div>
</div>


@section precss {



}

@section header {

}

@section scripts {


    <script src="~/Content/3rdParty/Template/widgets/datatable/datatable.js"></script>
    <script src="~/Content/3rdParty/Template/widgets/datatable/datatable-bootstrap.js"></script>
    <script src="~/Content/3rdParty/Template/widgets/datatable/datatable-tabletools.js"></script>


    <script src="~/Content/3rdParty/Template/widgets/modal/modal.js"></script>

    <script type="text/javascript">


        var tabela;

        $(document).ready(function () {

            tabela = $('#tblMain').DataTable({
                responsive: true,
                language: { url: '@Url.Content("~/content/ptbr.json")' },
                ajax: '@Url.Content("~/pessoas/getJsonFamiliares/"  + Model.id_pessoa )',
                columns: [
                    {
                        data: "Nome",
                        title: "Nome"
                    },
                    {
                        data: "ParentescoDesc",
                        title: "GrauParentesco"
                    },
                    {
                         data: "id_familiar",
                         title: "Ações",
                         bSortable: false,
                        render: function (o, tipo, linha) {

                             var ret = "";
                             //botao excluir
                             ret += '<div style="text-align:center;overflow:auto;width:100%;" class="text-center"><button type="button" title="Remover item" class="btn btn-default btn-excluir " onclick="excluir(\'' + o + '\')" ><i class="glyph-icon icon-trash"></i><div class="ripple-wrapper"></div></button></div>';

                             return ret;
                         }

                     }
                ],//fim columns
                order: [[1, "asc"]]


            });//fim datatables

        }); //ready




        var excluir = function (id) {
            var ml = $('#mdConfirmDelete').modal({ backdrop: 'static', keyboard: false })
                .one('click', '#btnExcluir', function (e) {

                    $.ajax({
                        url: '@Url.Content("~/pessoas/DeletarFamiliar/")',
                        dataType: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({ id: id }),
                        async: true,
                        processData: false,
                        cache: false,
                        success: function (data) {
                            $(ml).modal("hide");
                            tabela.ajax.reload();
                        },
                        error: function (xhr) {

                            var arrResp = $(xhr.responseText);

                            if (arrResp.length > 0) //A api retornou o erro, exibir o que está vindo da API
                            {
                                alert($(arrResp[1]).text());

                            } else //A api não retornou erro corretamente. Exibe mensagem genérica de erro
                            {
                                alert('Erro ao efetuar o comando no servidor');
                            }

                            $(ml).modal("hide");
                        }
                    });

                });
        }//excluir


        $("#frmMain").submit(function (e) {

            e.preventDefault();
            $("#txtErroNome").hide();

            if ($("#Nome").val() == "") {
                $("#txtErroNome").show(100);
                return;
            }

            var url = '@Url.Action("AdicionarFamiliar")';

            $.ajax({
                type: "POST",
                url: url,
                data: $("#frmMain").serialize(),
                success: function (data) {

                    tabela.ajax.reload();
                    $('#frmMain')[0].reset();
                },
                error: function (xhr) {

                    var arrResp = $(xhr.responseText);
                    if (arrResp.length > 0) //A api retornou o erro, exibir o que está vindo da API
                    {
                        alert($(arrResp[1]).text());
                    } else //A api não retornou erro corretamente. Exibe mensagem genérica de erro
                    {
                        alert('Erro ao efetuar o comando no servidor');
                    }
                }
            });

        });


    </script>

}

